
@import url(vars.css);

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

#page-not-found {
	position: fixed;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	color: var(--dark-blue);
	font-family: Roboto;
	font-size: 160px;
	text-align: center;
	line-height: 60px;
	font-weight: 800;
	user-select: none; /* Prevents text selection */
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For IE/Edge */
}

#text {
	font-family: Roboto;
	font-weight: 500;
	font-size: 40px;
}