
@import url('vars.css');

header {
	height: 50px;
	position: fixed;
	top: 20px; right: 8vw; left: 8vw;
	padding: 0px 10px 0px 20px;
	z-index: 100;

	border-radius: 14px;
	background-color: var(--header-bg-color);
	backdrop-filter: blur(4px);

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	border-style: solid;
	border-width: 1px;
	border-color: var(--header-border-color);

	user-select: none; /* Prevents text selection */
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For IE/Edge */
}

.header-left {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.logo-button-a {
	width: 36px; height: 36px;
	border-radius: 8px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.logo-button-svg {
	fill: var(--header-icon-stroke-color);
}

.header-right {
	display: flex;
	flex-direction: row;
	justify-content: end;
	align-items: center;
	column-gap: 10px;
}
.github-button-a {
	position: relative;
	width: 36px; height: 36px;
	border-radius: 8px;
	transition: 0.2s;
}
.github-button-a:hover {
	background-color: var(--header-icon-hover-color);
}
.github-button-svg {
	fill: var(--header-icon-stroke-color);
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
}
