
@import url('vars.css');

#header {
	position: fixed;
	height: 50px;
	top: 2vh; right: 8vw; left: 8vw;
	border-radius: 14px;
	border-style: solid;
	border-width: 1px;
	border-color: var(--border-color);
	background-color: var(--dark-blue);
	/* border-color: rgba(var(--border-color), 0.2);
	background-color: rgba(var(--dark-blue), 0.8); */
}
