
html {
    scroll-behavior: smooth;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.hidden {
	display: none;
}

body {
	background-color: var(--bg-color);
	position: relative;
    padding-bottom: 20px;
}

main {
	width: 100%;
	margin: 80px auto;
	max-width: 1000px;
	padding: 60px;
	color: var(--text-main-color);
	font-family: RobotoFlex;
	text-align: center;
}

.return-to-main {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	text-decoration: none;
	color: var(--main-color);
	font-family: RobotoFlex;
	font-size: 16px;
	font-weight:400;
	cursor: pointer;
	width: 120px;
}

.return {
	width: 44px; height: 22px;
	position: relative;
}

.return-svg {
	position: absolute;
	top: 0px;
	left: 20px;
	transform: rotate(180deg);
	transition: 0.3s;
}
.return-to-main:hover .return-svg {
	transform: rotate(180deg) translate(10px);
}

@font-face {
	font-family: 'RobotoFlex';
	src: url('../assets/fonts/Roboto_Flex/RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf');
	font-style: normal;
}
@font-face {
	font-family: 'ArchivoBlack';
	src: url('../assets/fonts/Archivo_Black/ArchivoBlack-Regular.ttf');
	font-style: normal;
}
@font-face {
	font-family: 'RobotoMono';
	src: url('../assets/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf');
	font-style: normal;
}
@font-face {
	font-family: 'Cairo';
	src: url('../assets/fonts/Cairo/Cairo-VariableFont_wght.ttf');
	font-style: normal;
}
@font-face {
    font-family: "Cubano";
    src: url("../assets/fonts/Cubano/Cubano.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
	--header-bg-color: rgba(28, 29, 31, 0.6);
	--header-icon-stroke-color: rgb(235, 236, 240);
	--header-icon-hover-color: rgb(45, 50, 59);
	--header-border-color: rgb(235, 236, 240, 0.4);
	
	/* --bg-color: rgb(4, 8, 13); */
	/* --bg-color: rgb(21, 22, 32); */
	--bg-color: rgb(35, 40, 47);
	--bg-dimmed-color: rgba(52, 78, 100, 0.4);

	--main-color: rgb(255, 183, 16);
	--main-dimmed-color: rgba(226, 178, 64, 0.1);
	--main-shadow-color: rgb(255, 183, 16, 0.4);
	
	--code-bg-color: rgb(48, 54, 66);
	--code-color: rgb(208, 215, 221);
	
	--text-main-color: rgb(246, 247, 249);
	--text-dimmed-color: rgb(210, 215, 223);
	--text-extra-dimmed-color: rgb(137, 139, 145);
	--text-blue-color: rgb(80, 130, 238);
	
	--hover-color: rgb(28, 28, 28);
	--border-color: rgb(235, 236, 240, 0.4);
	--stroke-color: rgb(193, 193, 193);
}

html {
    scroll-behavior: smooth;
}

.hidden {
	display: none;
}

::selection {
    background-color: var(--main-color);
	color: white;
}

/* For Firefox, use the following: */
::-moz-selection {
    background-color: var(--main-color);
	color: white;
}

@media screen and (max-width: 800px) {
	main {
		padding: 10px;
	}
}
@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.under-developement {
	position: fixed;
	bottom: 0px;
	right: 20px;
	background-color: var(--main-color);
	border-radius: 20px 20px 0px 0px;
	color: black;
	letter-spacing: 1px;
	font-family: Cairo;
	text-align: center;
	font-weight: 800;
	font-size: 20px;
	padding: 10px 20px;
	z-index: 1000;
}