
:root {
	/* --main-color: rgb(29, 31, 39);
	--text-color: rgb(255, 255, 255);
	--icon-color: rgb(147, 152, 160);
	--icon-hover-color: rgb(255, 255, 255);
	--hover-color: rgba(211, 211, 211, 0.1);
	--border-color: rgba(211, 211, 211, 0.2); */
	--main-color: rgb(247, 248, 250);
	--text-color: rgb(32, 35, 40);
	--icon-color: rgb(91, 99, 109);
	--icon-hover-color: rgb(32, 35, 40);
	--hover-color: rgb(227, 228, 230);
	--border-color: rgb(219, 219, 219);
}
