
@import url('vars.css');

#page-title {
	display: inline-block;
	position: relative;
	font-size: 60px;
	font-family: Cairo;
	letter-spacing: 2px;
	margin-bottom: 20px;
	margin-top: 80px;
}
#page-title::after {
	content: '';
	position: absolute;
	top: 85%;
	left: 0px;
	background-color: var(--main-color);
	width: 100%;
	height: 5px;
}

#page-motivation {
	font-size: 14px;
	font-family: RobotoFlex;
	color: var(--text-dimmed-color);
	margin-bottom: 100px;
	padding: 0px 100px;
	line-height: 24px;
}

.writing {
	width: 100%;
	margin-bottom: 40px;
	border-radius: 12px;
	background-color: rgb(255, 255, 255, 0.05);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-color: var(--border-color);
	font-family: RobotoFlex;
	transition: 0.3s;
	text-align: start;
	padding: 20px 40px;
}
.writing:hover {
	background-color: var(--main-dimmed-color);
	border-color: var(--main-color);
}

.writing-date {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 14px;
	color: var(--text-dimmed-color);
	opacity: 0.5;
}
.writing-title {
	font-size: 26px;
	font-weight: 600;
	letter-spacing: 1px;
	color: var(--text-main-color);
}
.writing-description {
	font-size: 14px;
	color: var(--text-dimmed-color);
	margin-top: 4px;
}
.writing-info {
	margin-top: 20px;
	position: relative;
}
.writing-tags {
	width: 60%;
}
.tags {
	display: inline-block;
	border-radius: 12px;
	background-color: var(--main-dimmed-color);
	color: var(--text-dimmed-color);
	font-size: 12px;
	padding: 2px 16px;
	margin: 2px;
}
.read-writing {
	flex: 1;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	color: var(--text-dimmed-color);
}
.read-button {
	position: absolute;
	bottom: 0%; right: 0%;
	text-wrap: nowrap;
	text-decoration: none;
	padding: 8px 16px;
	border-radius: 6px;
	font-size: 12px;
	color: var(--text-main-color);
	border: 1px solid var(--border-color);
	transition: 0.3s;
}
.read-button:hover {
	border: 1px solid var(--main-color);
	background-color: var(--bg-color);
}

@media screen and (max-width: 800px) {
	#page-motivation {
		padding: 0px 0px;
	}
}
