:root {
    --main-color: rgb(255, 183, 16);
    --back-color: rgb(14, 18, 23);
    --border-color: rgba(168, 179, 207, 0.404);
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--back-color);
}

